.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(50px, auto);

    grid-template-areas: 
        "nav nav nav nav nav nav nav nav";
}

nav {
    grid-area: nav;
}

main {
    grid-column: 1/-1;
}